/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<i class="icon-home"></i>
```
*/
.icon-fork {
  background-image: url(../img/spritesheet.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}
.icon-github {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -32px;
  width: 32px;
  height: 32px;
}
.icon-twitter {
  background-image: url(../img/spritesheet.png);
  background-position: 0px -64px;
  width: 32px;
  height: 32px;
}
